.zaui-modal-content-main {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(to bottom, rgb(101, 191, 104) 30%, #f9f9f9 0%);
}


  